{% extends "base.html" %}
  {% block header %}
    {{ super() }}
    <title>Quik - a free messaging app.</title>
    <meta name='description' content="Sign In | Quik is a free messaging app.">
  {% endblock %}
  <body>
  {% block content %}
    <div class="user-bg" align="center">
    <div class="form">
      <h1>Quik</h1>
      <h3>Sign In</h3>
      <p class="error">{{error}}</p>
      {% if user %}
      <br>
      <br>
      <a href="/">
        <div class="continueas">
          <p>
            Continue as <span style="font-weight: 500;">{{user}}</span>
          </p>
        </div>
      </a>
      <br><br>
      <a style="text-decoration: none;" href="/signout">
        <div align="center" class="otheraccount">
          <p>
            Switch accounts?
          </p>
        </div>
      </a>
      {% else %}
      <form autocorrect="off" autocapitalize="off" spellcheck="false" method="post">
        <input name="username" placeholder="Username" class="input-field userinput" type="text" id="username">
        <input name="password" placeholder="Password" class="input-field userinput" type="password" id="password">
        <br>
        <button type="submit" class="textbutton">
          Continue
        </button>
      </form>
      <a style="text-decoration: none;" href="/signup">
        <div align="center" class="otheraccount">
          <p style="margin-top: 30px;">
            Don't have an account? Sign up here!
          </p>
        </div>
      </a>
      {% endif %}
    </div>
  </div>
  {% endblock %}
  </body>
</html>
